@import url (https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url ('https://fonts.googleapis.com/css?family=open+sans');

.btn {
  background-color: pink;
  color: white;
  padding: 4px 5px;
  border-radius: 6px;
  border: 1 px solid hsl(700,45%,50%);
  text-transform: uppercase;
  font-weight:bold;
}

a{
  text-decoration: none;
  color: hotpink;
  color: inherit;
}

section{
  color: lightpink;
  background-color: purple;
  padding: 15px 10%;
}
div {
  width: 50%;
  float: left;
}
div img {
  width: 100%;
}
section::after{
  clear: both;
  display: block;
  content:'';
}
i.fa {
  position: absolute;
}


i.fa-chevron-circle-left {
  left: 0;
}
i.fa-chevron-circle-right {
  right: 0;
}
